.normalCardLayout {
  width: 200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 var(--shadow-color-one),
    0 6px 20px 0 var(--shadow-color-two);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  border-radius: 10px;
}

.normalCardLayout:hover {
  transform: scale(1.1);
}

.normalCardImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.normalCardImage > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.normalCardDetails {
  background-color: var(--card-text-background);
  z-index: 2;
  color: var(--white);
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 660px) {
  .normalCardLayout {
    width: 150px;
    height: 250px;
  }
  .normalCardDetails {
    font-weight: 200;
    font-size: 15px;
  }
}
