.tagList {
  width: 100%;
  overflow-x: scroll;
  padding: 10px 0px;
  white-space: nowrap;
  /* IE and Edge */
  -ms-overflow-style: none; 
  /* Firefox */
  scrollbar-width: none; 
}

.tagList::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #0F172AF2;
  color: white;
  width: 100%;
  height: 120px;
  z-index: 20;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-bottom: #808080 0.5px solid;
}